window {
    margin: 10px;
    border: 2px solid  #E87533;
    background-color: #1D2633;
    border-radius: 20px;
}

#input {
    padding: 4px;
    padding-left: 20px;
    border: none;
    color: #1b4ec4;
    font-weight: bold;
    background-color: #263447;
   	outline: none;
    border-radius: 15px;
    margin: 10px;
    margin-bottom: 2px;
}
#input:focus {
    border-bottom: 2px solid #1e1e2e;
    margin-bottom: 0px;
}

#inner-box {
    margin: 10px 10px;
    border: 10px solid #263447;
    color: #1b4ec4;
    font-weight: bold;
    background-color: #263447;
    border-radius: 15px;
}

#outer-box {
    margin: 0px;
    border: 3px solid #E87533;
    border-radius: 8px;
    background-color: #263447;
}

#scroll {
    margin-top: 5px;
    border: none;
    border-radius: 15px;
    margin-bottom: 5px;
    /* background: rgb(255,255,255); */
}

#img:selected {
    background-color: #849079;
    border-radius: 15px;
    margin: 0px;
    padding: 0 0 0 0;
}

#text {
    margin: 10px;
}

#text:selected {
    color: #ffffff;
    margin: 0px 10px;
    border: none;
    border-radius: 15px;
    background-color: #849079;
}

#entry {
    margin: 0px 0px;
    border: none;
    border-radius: 15px;
    background-color: transparent;
}

#entry:selected {
    margin: 0px 0px;
    border: 3px solid #E87533;
    border-radius: 10px;
    background-color: #849079;
}
